In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm, tqdm_notebook
from sklearn.model_selection import train_test_split

# Preprocessing

#### Rows are training examples, columns are the features for each training example

In [2]:
data = pd.read_csv('../datasets/data_banknote_authentication.txt')

In [3]:
data

       3.6216    8.6661  -2.8073  -0.44699  0
0     4.54590   8.16740  -2.4586  -1.46210  0
1     3.86600  -2.63830   1.9242   0.10645  0
2     3.45660   9.52280  -4.0112  -3.59440  0
3     0.32924  -4.45520   4.5718  -0.98880  0
4     4.36840   9.67180  -3.9606  -3.16250  0
...       ...       ...      ...       ... ..
1366  0.40614   1.34920  -1.4501  -0.55949  1
1367 -1.38870  -4.87730   6.4774   0.34179  1
1368 -3.75030 -13.45860  17.5932  -2.77710  1
1369 -3.56370  -8.38270  12.3930  -1.28230  1
1370 -2.54190  -0.65804   2.6842   1.19520  1

[1371 rows x 5 columns]

In [18]:
X = data.iloc[:,:-1]
Y = data.iloc[:,-1]

In [19]:
X = np.array(X)
Y = np.array(Y)
Y = np.reshape(Y, (Y.shape[0], -1))

In [22]:
X_min = np.min(X, axis = 0)
X_max = np.max(X, axis = 0)
X = (X - X_min)/(X_max- X_min)
# print(X)

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split (X, Y, test_size = 0.2, random_state = 42)
X_test, X_val, Y_test, Y_val = train_test_split (X_test, Y_test, test_size = 0.5, random_state = 42)

In [30]:
print(X_train.shape, X_test.shape, X_val.shape, Y_train.shape, Y_test.shape, Y_val.shape)

(1097, 4) (137, 4) (138, 4) (1097, 1) (137, 1) (138, 1)